<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer"  requirePermission="false" />
  </configSections>  
  <connectionStrings>
    <!--<add name="grafikerportalConnectionString" connectionString="Data Source=localhost; Initial Catalog=DB131220161833; Pooling=true; Max Pool Size=100000; Integrated Security=SSPI;" providerName="System.Data.SqlClient" eski IP_2018den önceki 94.73.147.8 />-->


  <add name="grafikerportalConnectionString" connectionString="Data Source=94.73.170.48;Initial Catalog=DB131220161833; User Id=USR131220161833;Password=CErdogdu1453;" providerName="System.Data.SqlClient" />
	
  </connectionStrings>
  
  <resizer>
    <pipeline fakeExtensions=".ashx" />
  </resizer>

  <system.web>
    <!--<pages maintainScrollPositionOnPostBack="true"></pages>-->
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" />
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--<identity impersonate="false"/>-->
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
  </system.webServer>


  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\Temp\" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
